
body {
   font-family: Arial, sans-serif; 
   text-align: center; 
   margin-top: 50px;
   }

.body-win {
  background-color: #fcd8ef; 
}

.body-lose {
  background-color: #5d627b; 
}

.kachisu{
 color: #3243e4;
 font-weight: bold;
 font-size: 18px;
}

.messageArea-win{
  color: #ae1150;
  font-size: 25px;
}

.messageArea-lose{
  font-size: 25px;
}
   
.container { 
  max-width: 400px;
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
}

#messageArea{
  color: rgb(230, 103, 103);
  font-weight: bold;
  margin-bottom: 10px;
}


button {
   font-size: 18px; 
   padding: 8px 10px; 
   margin: 5px; 
   cursor: pointer;

 }

.hand-buttons button:disabled {
   background-color: #ddd;
   cursor: not-allowed; 
 }

#final-result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: darkred;
}


.timer {
  font-size: 20px;
  font-weight: bold; 
  margin-bottom: 15px;
  color: #007bff;
}

#shohai{
  font-size: 20px;
}


/* プレイヤーボタンの色に合わせて定義 */
.bg-rock {
  background-color: #ff9999; 
  color: #333; 
}

.bg-scissors {
  background-color: #9999ff; 
  color: #333;
}

.bg-paper {
  background-color: #99ff99; 
  color: #333;
}

/* #result の基本的なスタイル */
#result {
  padding: 8px 30px; 
  border-radius: 5px; 
  font-size: 20px;
}

button{
  margin: 0;
  box-sizing: border-box;  
}

button:disabled{
opacity: 0.6; 
cursor: not-allowed;
}


.h1{
  margin-bottom: 100px;
}

#button_g,#button_c,#button_p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.total,.win,.lose,.draw{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); 
}

.kaisu_section p{
margin: 0;
}

.shohai_section{
  display: flex;
  flex-direction: column;
}





/* ーーーーーーーーーー
ここからボタン button_g
ーーーーーーーーーーーー*/

#button_g {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ae1150;
  font-size: 18px;
  border:none;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#f9dfe7 0%, #d63b3b 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

#button_g:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(3px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);/*グラデーションを明るく*/
}

/* ーーーーーーーーーー
ここからボタン button_c
ーーーーーーーーーーーー*/

#button_c {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #3243e4;
  font-size: 20px;
  border:none;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#cbe3f9 0%, #3670c1 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

#button_c:active{
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(3px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#bed0f8 0%, #cedbfd 100%);/*グラデーションを明るく*/
}


/* ーーーーーーーーーー
ここからボタン button_p
ーーーーーーーーーーーー*/

#button_p {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #1b7d2d;
  font-size: 20px;
  border:none;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#ccfbe4 0%, #1cb472 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

#button_p:active{
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(3px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#d0fcd5 0%, #c5fee0  100%);/*グラデーションを明るく*/
}


/* ーーーーーーーーーー
ここまでボタン 
ーーーーーーーーーーーー*/

main {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
} 

#winCount_mosugu{
  color: brown;
  font-weight: bold;
  font-size: 16px;
}


/* 説明ふきだし */

.setumei {
    position: relative;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border: solid 2px #FFC107;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column
    
}
.setumei .box-title {
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}

.setumei p {
    font-size: 14px;
    margin: 2px;
}


