* {
  margin: 0;
  box-sizing: border-box;
}


/* ーーーーーーーーーー
ここからボタン button_g
ーーーーーーーーーーーー*/

#button_g {
  display: inline-block;
  position: relative;
  padding: 0.35em 1em;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  text-decoration: none;
}

.btn-square-above-look:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  height: 0;
  border: solid 8px transparent;
  border-bottom-color: #8eacec;/*ボタン色より明るめの色に*/
}

.btn-square-above-look:active {
  /*押したとき*/
  padding: 0.32em 0.9em;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-square-above-look:active:before { 
  width: -webkit-calc(100% - 12px);
  width: calc(100% - 12px);
}

.btn-square-above-look:active:before {
  top:-12px;
  border-width: 6px;
}

/* ーーーーーーーーーー
ここまでボタン 
ーーーーーーーーーーーー*/

main {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
}

section {
  height: calc(100vh/3);
  display: flex;
  justify-content: center;
  align-items: center;
}